
/***
		PAGE COLORS:
		#AEDCDF "light-blue white"
		#B1AF8F "light olive"
		#AD2E57 "raspberry"
		#44191b "maroon"
		#20060F "dark maroon"
		#805962 "dull maroon"
		#433139 "brown"
											***/
											
@media screen and (-webkit-min-device-pixel-ratio:0)
{



		/* SETUP */
* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url("../images/COVER.jpeg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;

}

body {
	color: #AEDCDF;
	line-height: 1.3;
	font-size: 1.5em;
}

::selection{
	color:#AD2E57;
	background-color: #44191b;
}

@font-face {
    font-family: "PT Serif", "Serif";
    src: url("./fonts/PTSerif-Regular.ttf");
}



		/* CLASSES */
.noborder{
	border: none;
}


		/* LINKS */
a:link {
	color: #AD2E57;
	background:none;
	padding:4px;
	text-decoration:none;
}

a.noborder{
	border: none;
}

li.zines a:link, li.zines a:active:visited, a:active:hover{
	background:none;
	border:none;
}

li.bios a:link{
	color: #AD2E57;
	border-radius: 4px;
	padding: 1px;
	text-decoration:none;
}

/* clicked (active) bio link takes less space than native bio link
fix this, make them the same size */

li.databases a:link{
	background:none;
	border:none;
}

a.heart{
	border:none;
}

h2 a:link{
	color: #AD2E57;
	background:none;
	text-decoration:none;
}

a:visited {
	color: #AD2E57;
}

h2 a:visited{
	color:#AD2E57;
	background:none;
}

a:active {
	color: #805962;
}

h2 a:active{
	color:#805962;
}

a:hover {
	color: #AEDCDF;
}

h2 a:hover{
	color:#88878b;
}

a.friends:link{
	color:#B1AF8F;
}
a.friends:hover{
	color:#88878b;
}

p.friends{
	text-align: center;
}

p.holder{
	width:40%;
}

span.spacer{
	display:inline-block;
	text-align: right;
	text-align-last:right;
	width:74%;
	margin-left:8%;
}


		/* BODY TEXT */
p,h1,h2,ul,table{
	border: 1px dotted #AEDCDF;
	border-radius:4px;
	padding:5px;
	background-color:#20060F;
	color:#B1AF8F;
	font-family: 'PT Serif', serif;
	font-size: smaller;
	font-weight: lighter;
}

ul{
	text-align:left;
	border: none;
	width: 400px;
	margin-left: 0px;
}

h3{
	font-size: smaller;
	font-weight: lighter;
}

		/* PARAGRAPHS */
p, table{
	padding:14px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 14px;
	margin-top: 14px;
}

div.content_area{
	border: 1px dotted #AEDCDF;
	border-radius:4px;
	padding:0px;
	background-color:#20060F;
	color:#B1AF8F;
	font-family: 'PT Serif', serif;
	text-align:center;
	width:494px;
	margin:auto;
	padding-top: 0px;
}

h2.nobackground, h3.nobackground{
	border: none;
	background: transparent;
	padding: none;
	padding-bottom:5px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top:0px;
}

h2.nobackground:hover{
	width:494px;
	box-sizing:border-box;
	padding-bottom:3px;
}

h2.content-header, h3.content-header{
	padding: none;
	padding-bottom:5px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top:100px;
}

table, td{
	border: 1px dotted #AEDCDF;
	border-radius: 4px;
}

table.narrow{
	width: 400px;
}

table.menu{
	font-family: 'PT Serif', serif;
}

td{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

td:hover,h1:hover,h2:hover{
	background-color:#B1AF8F;
	color:#20060F;
	border: 2px dotted black;
}

h2:hover{
	border: 2px dotted black;
}

td:hover a:hover{
	color:#AEDCDF;
}

table tr td a:link{
	border: none;
}

td:hover a{
	color:#20060F;
}

p.center{
	text-align: center;
}

.justify{
	text-align: justify;
}

.welcome{
	width: 45%;
	margin-bottom:50px;
}

p.zines {
	width: 100%;
	border:none;
}

p.indent{
	text-indent:50px;
}

p.bios{
	text-align: center;
}

p.bios a{
	line-height: 1.9em;
	white-space:nowrap;
	margin:10px;
	padding: 5px;
	border: 1px dotted #B1AF8F;
	border-radius:4px;
}

p.bios a:visited{
	border-color: #B1AF8F;
}

p.bios a:active{
	color:#AD2E57;
	background-color: #B1AF8F;
	border-color:#AEDCDF;
}

p.databases {
	width: 100%;
	border:none;
}



		/* HEADINGS */
h1{
	font-size:250%;
	width: 600px;
	margin: auto;
	margin-bottom: 25px;
	text-align: center;
}

#title{
		margin-top: 40px;
		padding: 3px;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
}

h2{
	width:500px;
	margin :40px auto 5px auto;
	text-align: center;
	padding-bottom: 5px;
	box-sizing:border-box;
}

.wideh2{
	width:800px;
}

		/* LISTS */
ul {
	margin: auto;
	margin-bottom: 20px;
	padding: 5px;
	list-style-position:inside;
	text-align: left;
	width: 45%;
	padding-left:30px;
}

ul.lit{
	width: 30%;
}

ul.center{
	text-align: center;
}

ul.wide{
	width: 60%;
}

.nobullets{
	list-style-type: none;
}

#zines{
	margin: auto;
	margin-top:14px;
	display: flex;
	justify-content:flex-start;
	align-items:center;
	border: 1px dotted #AEDCDF;
	border-radius:4px;
	flex-wrap:wrap;
	padding-left:50px;
	padding-right:auto;
}
	
#zinesContainer{
	margin-bottom:100px;
}

#databases{
	margin: auto;
	margin-top:10px;
	margin-bottom:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dotted #AEDCDF;
	border-radius:4px;
	flex-wrap:wrap;
}

#donations{
	margin-bottom:95px;
}

.form{
	text-align: center;
}

li {
	margin: 2px;
	padding: 1px;
	list-style-position: outside;
}

li.bios{
	display:flex;
	flex-wrap:wrap;
	line-height: 1.7em;
}

li.zines{
	display: inline;
	text-align: left;
	border:none;
	width: 150px;
}

li.databases{
	display: inline;
	text-align: left;
	border:none;
}



		/* DIVs & SPANs */
.caption{
text-decoration: none;
font-size:70%;
padding: 10px;
width: 20%;
}

.footnote{
text-decoration: none;
font-size:70%;
padding: 5px;
width: 36%;
text-align: center;
}

.absoluteBottom{
	position: absolute;
	right:0px;
}

.right{
	position: relative;
	right: 10px;
}

.lightblue{
	color:#AEDCDF;
}



		/* IMAGES */
img {
	display: block;
	margin: auto;
	border-radius:5px;
}

img.small{
	width: 140px;
}

img.zines{
	width: 150px;
	border-radius: 0px;
}

#database{
	width: 152px;
}

#duotrope{
	width: 140px;
}

#tinypages{
	width: 109px;
}

#newpages{
	width: 100px;
}

#clmp{
	width: 140px;
}

#pnw{
	width: 300px;
}

#heart {
	width: 100px;
	margin:auto;
	border:1px dotted #AEDCDF;
}


		/* SPACING */
.tall{
	display: block;
	content: "";
	margin-top: 10px;
}


		/* BIO PAGE */
#bio {
	display: block;
	text-align: left;
	margin: auto;
	width: 700px;
	left: 43%;
	top: 22%;
}

		/* ABOUT THE AUTHOR PAGE */
#me{
	width: 200px;
	margin: auto;
	display: flex;
	border: 1px dotted #AEDCDF;;
}


#quotes{
	text-align: right;
	width: 600px;
}





		p,h1,h2,ul,table,tr,td{
			border: 1px dashed #805962;
			border-radius:4px;
			padding:5px;
			background-color:#20060F;
			color:#B1AF8F;
			font-family: 'PT Serif', serif;
			font-size: smaller;
			font-weight: lighter;
		}
		
		h2{
			margin-bottom: 60px;
		}

		table{
			font-size:larger;
		}

		a{
			
		}

		div.content_area{
			border: 1px dashed #805962;
			border-radius:4px;
			padding:5px;
			background-color:#20060F;
			color:#B1AF8F;
			font-family: 'PT Serif', serif;
		}
		
		table.menu{
			width: 1000px;
			font-size:xxx-large;
			margin-bottom: 100px;
			font-family: 'PT Serif', serif;
		}
		
		table.books{
			margin-bottom:100px;
		}
		
		table.narrow{
			margin-bottom:100px;
		}
		
		h2 a{
			white-space: nowrap;
			font-size: larger;
		}

		h3{
			font-size:medium;
		}

		h1#title{
			font-size:xxx-large;
		}

		p{
			padding:17px;
			margin-bottom:50px;
		}

		h2{
			font-size: larger;
			font-weight:bolder;
		}

		h1{
			font-size: larger;
			font-weight:bolder;
		}

		h2:hover, td:hover, h1:hover{
			border: 1px dashed #AD2E57;
		}

		#zines{
			margin: auto;
			margin-top:14px;
			display: flex;
			justify-content:flex-start;
			align-items:center;
			border: 1px dashed #805962;
			border-radius:4px;
			flex-wrap:wrap;
			padding-left:50px;
			padding-right:auto;
		}
		
		#databases{
			margin: auto;
			margin-top:10px;
			margin-bottom:20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px dashed #805962;
			border-radius:4px;
			flex-wrap:wrap;
		}

		p.bios{
			text-align:center-left;
		}

		p.bios a{
			line-height: 2.4em;
			white-space:nowrap;
			margin:5px;
			padding: 5px;
			border: 1px dashed #805962;
			border-radius:4px;
		}
		
		p.bios a:visited{
			border: 1px solid black;
		}
		
		p.bios a:active{
			color:#AD2E57;
			background-color: #B1AF8F;
			border: 1px dashed black;
		}

		p.bios a:hover{
			background-color:#B1AF8F;
			color:#AD2E57;
			border: 1px dashed #AD2E57;
		}

		a.bio{
			margin:10px;
			padding:10px;	
		}

		ul{
			list-style-position: outside;
			padding:11px;
			padding-left: 40px;
		}

		ul.sub_guidelines{
			list-style-position: outside;
			padding:23px;
			padding-left: 40px;
		}
	}
}